{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head> 
</head>
<body>
    <div class="home"> 
<div class="home_img">
    <div class="home_but">
    <div>
        <a href="/about"><img src="what_arise_but.png"></img></a>
        <a href="/how"><img src="what_do_but.png"></img></a>
        <a href="/challenges"><img src="challenge_but.png"></img></a>
        <a href="/awards"><img src="award_but.png"></img></a>
        <a href="/info"><img src="info_but.png"></img></a>
    </div>
</div>
</div>
    </div>
</body>
{{ end }}